<!DOCTYPE html>
<html>
  <head>
    <title>Sneakers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sneakers</h1>
    <ul>
      <% sneakers.forEach((s) => { %>
        <li>
          <a href="/sneakers/<%= s.id %>">
          <%= s.model %>
            -
          <%= s.name %>
            -
          <%= s.year %>
          </a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
